<% [:success, :info, :warning, :danger, :alert, :notice].each do |type| %>
  <% if flash[type] %>
    <div class="alert alert-<%="#{type}"%> radius">
      <%= flash[type] %>
      <a href="#" class="close" data-dismiss="alert">&times;</a>
    </div>
  <% end %>
<% end -%>