<% if object.errors.any? %>
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <% object.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>