<div class="container img-all">
  <% @photos.each do |item| %>

    <div class="img-box">
      <a href='<%= photo_path(item) %>'>
        <div class="img">
          <%= image_tag(item.photo_url(:thumb).to_s) %>
        </div>
        <div class="info">
          <% if !item.name.blank? %>
            <h3><%= item.name %></h3>
          <% else %>
            <h3>&nbsp;</h3>
          <% end %>
        </div>
      </a>
    </div>

  <% end %>
</div>
