<div class="container">
  <% @photos.each_slice(4) do |a| %>
    <div class="row">
      <% a.each do |item| %>
        <% if !item.photo.blank? %>
          <div class="col-sm-6 col-md-3">
            <div class="ih-item square colored effect1 bottom_to_top">
              <a href='<%= photo_path(item) %>'>
                <div class="img">
                  <%= image_tag(item.photo_url(:thumb).to_s) %>
                </div>
                <div class="info">
                  <% if !item.name.blank? %>
                    <h3><%= item.name %></h3>
                  <% else %>
                    <h3>&nbsp;</h3>
                  <% end %>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
