<div><%= render 'shared/flash_messages' %></div>

<div align="center" class="img-detail">
  <%= image_tag @photo.photo_url(:detail).to_s, class:"img-responsive", data: {type: "photo", id: @photo.id} %>

  <%
    other_num = @like_count.to_i - @randmember.length
    and_other = other_num > 0 ? "and other #{@like_count.to_i - @randmember.length} people " : ""
  %>
  <% if @like_count.to_i > 0 %>
    <span><%= "#{@randmember.join(", ")} #{and_other}liked." %></span>
  <% end %>


  <% if current_user?(@photo.user) %>
    <br><br>
    <%= link_to '删除', @photo, class:'btn btn-danger' , method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>






<script type="text/javascript">
  $(document).ready(function(){
    $("img").dblclick(function() {
      $.ajax({
        url: '/likes',
        type: 'post',
        data: {type: this.dataset.type, id: this.dataset.id}
      }).done(function(resp){
        $('#l-' + resp.type + resp.id).text(resp.text)
      });
    });
  });
</script>
