.img-all {
  img {
    width: 200px;
    height: 200px;
  }

  .img-box {
    display: inline-block;
    margin: 10px 15px 10px 15px;
  }

  .info {
    .desc {
      text-align: center;
    }
  }
}



.img-upload {
  width: 400px;
  margin: 0 auto 0 auto;

  h3 {
    text-align: center;
  }

  button {

  }
}
