.center {
  text-align: center;
}

.img-all {
  width: 965px;
  img {
    width: 200px;
    height: 200px;
  }

  .img-box {
    display: inline-block;
    margin: 10px 15px 10px 15px;
  }

  .info {
    .desc {
      text-align: center;
    }
    .counts {
      float: right;
    }
  }
}


.img-detail {
  width: 1100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  .img-left {
    float: left;
    display: inline-block;
    width: 800px;

    img, a {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    a {
      margin-top: 8px;
      width: 80px;
    }
  }

  .img-right {
    display: inline-block;
    width: 280px;

    .buttons {
      padding-left: 20px;
    }

    .comments {
      padding-left: 20px;
      margin-bottom: 10px;
      .comment {
        text-align: left;
      }
    }

    .new-comment {
      padding-left: 20px;
      #comment_body {
        float: left;
        width: 75%;
      }
      .btn-primary {
        float: right;
        width: 25%;
      }
    }
  }
}

.counts {
  div#views {
    display: inline-block;
    min-width: 40px;
    height: 30px;
    color: #aab8c2;
  }
  div#likes {
    display: inline-block;
    min-width: 40px;
    height: 30px;
    *:focus {
      outline:none;
    }
    .like-button {
      background: transparent;
      border-width: 0;
    }
    .like-button.liked {
      color: #e81c4f;
    }
    .like-button.unliked {
      color: #aab8c2;
    }
  }
}



.img-upload {
  width: 400px;
  margin: 0 auto 0 auto;

  h3 {
    text-align: center;
  }

  button {

  }
}
